<!DOCTYPE html>
<title>TLDResume</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='./assets/css/nav.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='./assets/css/home.css') }}">

<script src="{{url_for('static', filename='./assets/js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='./assets/js/home.js')}}"></script>
<script src="{{url_for('static', filename='./assets/js/form_submission.js')}}"></script>

<link rel=stylesheet type=text/css href='https://fonts.googleapis.com/css?family=Indie+Flower' >


<div class=page>
  <h1>Flaskr</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>


</head>
<body>
	<!-- Top bar -->
    <div id="top-bar">
        <!-- Logo -->
        <div id="organization">
            <a href="./index.html"  id="organization-logo">
                <img src="./assets/img/TLDR_logo.png">
            </a>
        </div>
    </div>



    <div id = "page-wrapper">
        <div id = "helpme">
            <div id = "TLDR-title">TLDR<div>esume</div></div>
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-curve left"></div>
                <div class="loader-curve right"></div>
            </div>
            <form>
                <div id = "submission">
                    <div id = "drag">Drag and Drop<input type="file" name="fname" id = "hideme" accept=".txt">
                    </div>
                    <br>
                    <input type="button" id = "button" value="Upload" onclick="console.log(2); up();">
                </div>
            </form>

        </div>
    </div>


    <div id="page">
    <br>
    <br>
        <div id="card">
            <div id="title">Name</div>
            <br>
            <div>
                <div id="grid">
                <div class="row">
                    <a href="#">
                        <div class="contact">
                            <div class="profile"><img src="./assets/img/fb-icon.png"></div>
                            <div class="name">Sentiment</div>
                            <div class="link"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="contact">
                            <div class="profile"><img src="./assets/img/twitter-icon.png"></div>
                            <div class="name">Categories and Focuses</div>
                            <div class="link"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="contact">
                            <div class="profile"><img src="./assets/img/email-icon.png"></div>
                            <div class="name">Charts</div>
                            <div class="link"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="contact">
                            <div class="profile"><img src="./assets/img/email-icon.png"></div>
                            <div class="name">Charts</div>
                            <div class="link"></div>
                        </div>
                    </a>

                </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>