<!DOCTYPE html>
<html>
<head>
    <title>TLDResume | Contact</title>
    <link rel="icon" href="assets/img/favicon.ico">

    <!-- Stylesheets -->
    <link href="assets/css/nav.css" rel="stylesheet">
    <link href="assets/css/contact.css" rel="stylesheet">

    <!-- Javascript -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/contact.js"></script>
</head>
<body>
    <!-- Top Bar Script -->
    <script src="assets/js/top-bar.js"></script>

    <div id="page-wrapper">
    <br>
    <br>
        <div class="card">
            <div id="title">Contact Us</div>
            <br>
            <div>
                <div id="grid">
                <div class="row">
                    <a href="https://www.facebook.com/ucb.esc">
                        <div class="contact">
                            <div class="profile"><img src="assets/img/fb-icon.png"></div>
                            <div class="name">Facebook</div>
                            <div class="link">ESC</div>
                        </div>
                    </a>
                    <a href="https://twitter.com/BerkeleyESC">
                        <div class="contact">
                            <div class="profile"><img src="assets/img/twitter-icon.png"></div>
                            <div class="name">Twitter</div>
                            <div class="link">@BerkeleyESC</div>
                        </div>
                    </a>
                    <a href="mailto:esc.berkeley@gmail.com">
                        <div class="contact">
                            <div class="profile"><img src="assets/img/email-icon.png"></div>
                            <div class="name">Email</div>
                            <div class="link">president@esc.berkeley.edu</div>
                        </div>
                    </a>

                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Bar Script -->
    <script src="assets/js/bottom-bar.js"></script>

</body>
</html>